<!DOCTYPE html>
<html>
<head>
	<title>Phone Number Allocator</title>
</head>
<body>

<h1>Phone Number Allocator</h1>

Visit <a href="https://github.com/thecodesome/phone-number-allocator">https://github.com/thecodesome/phone-number-allocator</a> for more details.

</body>
</html>